#sideNavBox,#s4-titlerow,#s4-ribbonrow,._3MiiOD-tEXtz29zSdBsiT,.o365cs-base .o365sx-waffle{display: none !important;}
.dataTables_wrapper .dataTables_scroll, .dataTables_length{margin-left: -200px; margin-top: 1px;}
#table_id_filter{margin-top: 1px;}